<div class="page-header">
  <h1>Update this Task</h1>
</div>
<%= form_for(@task) do |t| %>
	<div>
	  	<%= t.label :name %>
	  	<%= t.text_field :name %>
	</div>

	<div>
		<%= t.label :completed %>
	 	<%= t.check_box :completed %>
	</div>

	<div>
		<%= t.label :list_id %>
  		<%= t.collection_select :list_id, @lists, :id, :name %>
	</div>

 	<%= t.submit "Update", class: "btn btn-primary" %>
<% end %>